<p id="notice"><%= notice %></p>
<% category_list=["その他","書籍","音楽","DVD","ゲーム","PC,周辺機器","キッチン","食品,飲料","ホビー"] %>

<table class="table table-bordered">
	<tr>
		<th>商品名</th>
		<td><%= @product.name %></td>
	</tr>

	<tr>
		<th>販売元</th>
		<td><%= @product.publisher %></td>
	</tr>

	<tr>
		<th>カテゴリー</th>
		<td><%= category_list[@product.category] %></td>
	</tr>

	<tr>
		<th>税込価格</th>
		<td><%= @product.price %></td>
	</tr>

	<tr>
		<th>在庫数</th>
		<td><%= @product.stock %></td>
	</tr>

	<tr>
		<th>サムネイル画像</th>
		<td><%= image_tag @product.image.url(:thumb) %></td>
	</tr>

	<tr>
		<td class="btn_center">
			<%= form_tag("/admin/edit") do |f| %>
				<%= hidden_field_tag :id, @product.id %>
				<%= submit_tag "編集",class:"btn btn-success" %>
				</td><td class="btn_center">
				<%= link_to '戻る', '/admin',class:"btn btn-light" %>
			<% end %>
		</td>
	</tr>
</table>
